*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://cdn.pizap.com/pizapfiles/images/photo_backgrounds_textures_app05.jpg); */
    /*background: linear-gradient(to right, #00aaff, #00ff6c);*/
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 70px);
    /* cursor: pointer; */
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    /* background-color: rgba(255, 255, 255, 0.75); */
}

.calculator-grid>button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #20b2aa;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #ffa500;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #7d93e0;
}

button:nth-child(19),
button:nth-child(20) {
    font-size: 20px;
    background-color: #9477af;
}

.center {
    width: 75%;
    margin: 20px auto;
    text-align: center;
}

input {
    width: 300px;
    padding: 3px;
}

ul#msgs {
    width: 75%;
    margin: 20px auto;
    border: 1px solid #444;
    padding: 30px;
}